node_modules/
.env*
# AI / System Files
architecture_diagram.puml
*.md
!README.md
.gemini/
.agent/
.DS_Store
.dist/
build/
*.log
*.sql
.kiro/

# Ignored markdown files
ADVANCED_FEATURES_SUMMARY.md
MULTIPLE_IMAGES_FEATURE.md
PRODUCT_DETAIL_PAGE.md
PRODUCT_UI_IMPROVEMENTS.md